<config>
  <modules>
    <Delifi_BRCep>
      <version>0.1.1</version>
    </Delifi_BRCep>
  </modules>
  <global>
    <models>
      <delifi_brcep>
        <class>Delifi_BRCep_Model</class>
        <resourceModel>cepbr_mysql4</resourceModel>
      </delifi_brcep>
      <cepbr_mysql4>
        <class>Delifi_BRCep_Model_Mysql4</class>
        <entities>
          <cep>
            <table>delifi_cep</table>
          </cep>
        </entities>
      </cepbr_mysql4>
    </models>
    <blocks>
      <delifi_brcep>
        <class>Delifi_BRCep_Block</class>
      </delifi_brcep>
    </blocks>
    <resources>
      <cepbr_setup>
        <setup>
          <module>Delifi_BRCep</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </cepbr_setup>
      <cepbr_write>
        <connection>
          <use>core_write</use>
        </connection>
      </cepbr_write>
      <cepbr_read>
        <connection>
          <use>core_read</use>
        </connection>
      </cepbr_read>
    </resources>
  </global>

  <frontend>
    <routers>
      <cepbr>
        <use>standard</use>
        <args>
          <module>Delifi_BRCep</module>
          <frontName>cep</frontName>
        </args>
      </cepbr>
    </routers>
    <layout>
      <updates>
        <kvoucher>
          <file>delifi/cep.xml</file>
        </kvoucher>
      </updates>
    </layout>
  </frontend>

</config>